pita*log
.cache
.eggs

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Vim files 
*.swp

# Installer logs
pip-log.txt

# Test data
tests/data/tmp/*
tests/data/index/*.params
tests/data/index/*.index


tests/data/test_gene_bed.cdna.fa
tests/data/test_gene_bed.log
tests/data/test_gene_bed.notExtended.bed
tests/data/test_gene_bed.protein.fa

